{% extends "layout.html" %}

{% block body %}


<form method="POST" action="{{ url_for('artikkelit_create') }}">
  <div class="form-group">
    <td>
    {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.authors.label }}
      </td>
      <td>
        {{ form.authors }}
      </td>
      <td>
        <ul>
          {% for error in form.authors.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.publisher.label }}
      </td>
      <td>
        {{ form.publisher }}
      </td>
      <td>
        <ul>
          {% for error in form.publisher.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.year.label }}
      </td>
      <td>
        {{ form.year }}
      </td>
      <td>
        <ul>
          {% for error in form.year.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.source.label }}
      </td>
      <td>
        {{ form.source }}
      </td>
      <td>
        <ul>
          {% for error in form.source.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
          </tr>
          <tr>
      <td colspan="2">
        <input type="submit" value="Add a new article"/>
      </td>
    </tr>
</form>

{% endblock %}