{% extends "layout.html" %}

{% block body %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">No of articles</th>

    </tr>
    </thead>
    <tbody>
  {% for account in accounts %}
    <tr>
       <td>{{account.username}}</td>
       <td>{{account.name}}</td>
       <td>{{account.articles}}</td>

       <td>
        <form method="POST" action="{{ url_for('auth_reset_password', account_id=account.id) }}">
          <input type="text" name="password" required>
          <input type="submit" value="Reset password" class="btn btn-primary">
        </form>
      </td>

      <td><form method="POST" action="{{ url_for('auth_delete', account_id = account.id) }}">
        <input type="submit" value="Delete this account" class="btn btn-danger">
      </form>
     </td>
    </td>

    </tr>
  {% endfor %}
  </tbody>
 </table>

{% endblock %}
