<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artikkelitietokanta</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
    Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    {% endif %}
    <ul>
      <li><a href="{{url_for('artikkelit_index')}}">List articles</a></li>
      <li><a href="{{url_for('artikkelit_form')}}">Add an article</a></li>

<body>
  {% block body %}
  <p>
    Content.
  </p>
  {% endblock %}
</body>
</html>
