{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username(placeholder="Username") }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password(placeholder="Password") }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
            <input type="submit" value="Login" class="btn btn-primary"/>
      </td>
    </tr>
</form>
{% endblock %}